<!DOCTYPE html>
<meta charset="UTF-8">
<style>
    h1{
        color:green
    }
    h2{
        color:gray
    }
    .h2Cls{
        color:rgb(128, 46, 46)
    }
    .nameExm{
        display: flex;
    }
</style>
<body>

    <h1>Profile info _</h1>
    <div class="nameExm"><h2>Name :</h2><h2 class="h2Cls"><%= user.name %></h2></div>
    <div class="nameExm"><h2>Email :</h2><h2 class="h2Cls"><%= user.mail %></h2></div>
<div class="nameExm"><h2>Country :</h2><h2 class="h2Cls"><%= user.country %></h2></div>
</body>
</html>